
    body {
      margin: 0;
      height: 100vh;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      background-image: url('../styles/aum3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    #m_body {
      width: 70%;
      height: calc(100vh - 20px);
      background-color: rgb(213 217 211);
      display: flex;
      flex-direction: column;
      border: 2px solid black;
    }

    header {
      background: linear-gradient(to right, white, rgb(233, 54, 0));
      color: black;
      display: flex;
      align-items: stretch;
      height: 120px;
      border-bottom: 2px solid black;
    }

    header img {
      height: 100%;
      width: auto;
      object-fit: contain;
      background-color: white;
      border-right: 2px solid black;
      padding-right: 10px;
      padding-left: 10px;
    }

    header .header-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    header h1 {
      margin: 0;
      padding-top: 15px;
      text-align: center;
    }

    header nav {
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
    }

    header nav a {
      text-decoration: none;
      color: white;
      padding: 11px 15px;
      transition: 0.3s;
    }

    header nav a:hover {
      color: black;
      background-color: gray;
    }

    header nav a.active {
      color: orange;
    }

    main {
      flex: 1;
      background-color: #d9d9d9;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

#gpaBox {
  width: 90%;
  margin: 15px auto;
  padding: 5px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  background-color: #d9d9d9;
}


    #gpaBox h2 {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #gpaBox p {
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
    }

    table {
      width: 60%;
      margin: auto;
      border-spacing: 23px;
      text-align: center;
    }

   table input {
    width: 70px;
    padding: 3px;
    border: 1px solid white;      
}

    #avgGpa {
      background-color: #b3b3b3;
    }

    #btnRow {
      display: flex;
      justify-content: center;
      gap: 90px;
      margin-top: 15px;
	   margin-left: 125px;
	  
    }

    button {
      padding: 8px 20px;
      cursor: pointer;
	  border: 1px solid grey;      
    }

    footer {
      background-color: rgb(230, 88, 45);
      color: black;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      border-top: 2px solid black;
      height: auto;
    }

    footer .footer-left {
      line-height: 1.3;
    }

    footer .footer-center {
      text-align: center;
      flex: 1;
    }

    footer .footer-right img {
      width: 28px;
      height: 28px;
      margin-left: 10px;
    }
	