
    body {
      margin: 0;
      height: auto;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      background-image: url('../styles/aum3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #m_body {
      width: 70%;
      height: 98%;
      background-color: rgb(47, 56, 47);
      display: flex;
      flex-direction: column;
      border: 2px solid black;
    }
    header {
      background: linear-gradient(to right, white, rgb(233, 54, 0));
      color: black;
      display: flex;
      height: 120px;
      border-bottom: 2px solid black;
    }
    header img {
      height: 100%;
      width: auto;
      object-fit: contain;
      background-color: white;
      border-right: 2px solid black;
      padding-left: 10px;
      padding-right: 10px;
    }
    header .header-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    header h1 {
      margin: 0;
      padding-top: 15px;
      text-align: center;
    }
    nav {
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
    }
    nav a {
      text-decoration: none;
      color: white;
      padding: 11px 15px;
      transition: 0.3s;
    }
    nav a:hover {
      background-color: gray;
      color: black;
    }
    nav a.active {
      color: orange;
    }
    main {
      flex: 1;
      background-color: #d9d9d9;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
    main::after {
      content: '';
      position: absolute;
      margin-top: 139px;
      margin-bottom: 100px;
      margin-left: -10px;
      height: 720px;
      top: 10px;    
      bottom: 10px; 
      left: 50%;
      width: 2px;
      transform: translateX(-50%); 
      background-color: #ec5233; 
      z-index: 0;
    }
    main section {
      padding: 25px;
      color: black;
      font-size: 15px;
      border-bottom: 2px solid #c2c2c2;
    }
    /* main section:nth-child(odd) {
      border-right: 2px solid #c22100;
    } */
    .section-line {
      border-top: 1px solid #7a7a7a;
      padding-top: 15px;
      width: 100%;
      margin-top: 0;
      margin-left: -10px;
    }
    .section-line.info {
      margin-top: 35px;
    }
    main section h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .note {
      font-style: italic;
      font-size: 14px;
      margin-bottom: 15px;
    }
    main section ul {
      padding-left: 20px;
      margin-top: 10px;
    }
    main section ul li {
      margin-bottom: 12px;
      line-height: 1.4;
    }
	
    .desc-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }
	table td {
    background-color: #b6b6b6;   
         
}
    .desc-table th,
    .desc-table td {
      border: 1px solid #666;
      padding: 10px;
    }
    .desc-table th {
      background-color: #a0a0a0;
      font-weight: bold;
      text-align: center;
    }
    .desc-table tr:first-child th {
      background-color: #a0a0a0;
      font-size: 15px;
    }
    footer {
      background-color: rgb(230, 88, 45);
      color: black;
      padding: 10px 20px;
      display: flex;
     
      justify-content: space-between;
      border-top: 2px solid black;
    }
    footer .footer-right img {
      width: 28px;
      height: 28px;
      margin-left: 10px;
    }
   
  