
     body {
      margin: 0;
      height: 100vh;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      background-image: url('../styles/aum3.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    #m_body {
      width: 70%;
      height: calc(100vh - 20px);
      background-color: rgb(213 217 211);
      display: flex;
      flex-direction: column;
      border: 2px solid black;
    }

    header {
      background: linear-gradient(to right, rgb(255, 255, 255), rgb(233, 54, 0));
      color: black;
      display: flex;
      align-items: stretch;
      height: 120px;
      border-bottom: 2px solid black;
    }

    header img {
      height: 100%;
      width: auto;
      object-fit: contain;
      background-color: white;
      border-right: 2px solid black;
      padding: 0 10px;
    }

    header .header-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    header h1 {
      margin: 0;
      padding-top: 15px;
      text-align: center;
    }

    header nav {
      background-color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
    }

    header nav a {
      text-decoration: none;
      color: white;
      padding: 11px 15px;
      transition: 0.3s;
    }

    header nav a:hover {
      color: black;
      background-color: gray;
    }

    header nav a.active {
      color: orange;
    }

    main {
      margin-top: 20px;
      margin-bottom: 10px;
      flex: 1;
      background-color: #d9d9d9;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 12px;   
      row-gap: 0px;
      overflow: hidden;
    }
    main::after {
      content: '';
      position: absolute;
      margin-top: 143px;
      margin-bottom: 130px;
      margin-left: -2px;
      top: 10px;    
      bottom: 10px; 
      left: 50%;
      width: 2px;
      transform: translateX(-50%); 
      background-color: #ec5233; 
      z-index: 0;
    }

    main section {
      padding: 5px;
      font-size: 15px;
      color: black;
      border-bottom: 2px solid #b3b3b3;
      margin-bottom: 12px;
      max-height: 180px;
      overflow-y: hidden;
    }

    main section:nth-child(odd) {
      /* border-right: 2px solid #c22100; */
      margin-right: 5px; 
    }

    main section:nth-child(1),
    main section:nth-child(2) {
      border-top: 3px solid #b3b3b3;
    }

    main section:nth-last-child(1),
    main section:nth-last-child(2) {
      border-bottom: 2px solid #b3b3b3;
      margin-bottom: 20px;
    }

    main section h2 {
      margin: 0 0 5px 0;
      font-size: 20px;
      font-weight: bold;
    }

    footer {
      background-color: rgb(230, 88, 45);
      color: black;
      padding: 10px 20px;
      display: flex;
      
      justify-content: space-between;
      border-top: 2px solid black;
      height: auto;
    }

    footer .footer-left {
      line-height: 1.3;
    }

    footer .footer-center {
      text-align: center;
      flex: 1;
    }

    footer .footer-right img {
      width: 28px;
      height: 28px;
      margin-left: 10px;
    }
  